body {
    margin: 0;
    padding: 0;
}

.background-image {
    background-image: url('/images/artisanat.jpg'); /* Ajoutez le chemin de votre image de fond */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    color: black;
    font-family: Arial, sans-serif;
}

.menu {
    text-align: center;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu li {
    display: inline-block;
    margin: 0 20px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s;
}

.menu a:hover {
    color: black; 
}
h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    font-style: italic;
    margin-top: 0;
}