<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page d'accueil</title>
    <link rel="stylesheet" href="/css/style.css"> 
</head>
<body>

<div class="background-image">
    <h1>Bienvenu aux ateliers des artisanaux </h1>
    <p>Couture - Peinture - Céramique - Bijoux<p>
    <div class="menu">
        <ul>
            <li><a href="/ateliers/liste">Affichage de la liste des ateliers</a></li>
            <li><a href="/reservations/new">Réservation un créneau</a></li>
            <li><a href="/reservations/liste">Annuler une réservation</a></li>
        </ul>
    </div>
</div>
</body>
</html>