<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Liste des participant</title>
        <link rel="stylesheet" href="/css/style-liste.css" />
    
</head>
<body>
 <div class="container">
    <h2>Liste des participant</h2>
    
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Téléphone</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="participant : ${participants}">
                <td th:text="${participant.participantId}"></td>
                <td th:text="${participant.nom}"></td>
                <td th:text="${participant.email}"></td>
                <td th:text="${participant.telephone}"></td>
                <td class="action-links">
                    <a th:href="@{'/participants/' + ${participant.participantId}}">Voir</a> |
                    <a th:href="@{'/participants/' + ${participant.participantId} + '/edit'}">Modifier</a> |
                    <a th:href="@{'/participants/' + ${participant.participantId} + '/delete'}">Supprimer</a>
                </td>
            </tr>
        </tbody>
    </table>

    <a class="add-artisan-link" th:href="@{/participants/new}">Ajouter un participant</a>
             <a  class="add-artisan-link" th:href="@{/}">Retour à l'accueil</a>
     
</div>
</body>
</html>